<strong>Password Recovery from Job's Done</strong>

<p>A password recovery was sent to the email ({{email}}), if it wasn't from you please change your password as soon as possible.</p>

<p>To continue please use the token {{token}} or click on the following link:</p>

<a href="{{ link }}">Create a new password</a>